body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #EEE; 
	margin: 4;
	padding: 2;
	color: #000;
}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3  {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	color: #36F;
}
h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	color: #3CF;
}	
a img { 
	border: double;
}
a:link {
	color: #00F;
	text-decoration: none; 
}
a:visited {
	color: #00F;
	text-decoration: none;
}
a:hover{
	color: #00F;
	text-decoration: underline;
}
.container {
	width: 960px;
	background: #FFF;
	margin: 0 auto; 
}
.header {
	background: #DDD;
	color: #00F;
}
.content {
	padding: 10px 0;
	color: #3CF;
	font-size: medium;
}
.footer {
	padding: 10px 0;
	background: #DDD;
	color: #00F;
	text-align: center;
	font-weight: bold;
}
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.container .content p {
	font-size: small;
	color: #000;
}

#goTopBtn { 
	POSITION: fixed; 
	BOTTOM: 35px; 
	CURSOR: pointer; 
	RIGHT: 35px; 
} 
